@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: black;
    color: #d9d9d9;
    /* margin: 15px; */
  }

a {
    color:#fcdb47;
    text-decoration: none;
    font-weight: 500;
}

.header {
      display: flex;
      justify-content: space-between;
      padding: 0px 7px 0px 12px;
  }

  .header h1 {
    font-family: 'Kaushan Script', cursive;
  }

.header p {
  font-size: .8em;
  padding: 10px 20px 0 0;
}

#App-Title {
  font-size: 2.3em;
  color: rgb(255, 244, 244);
  margin:0;
      animation: enter 2s calc(1) ease-in-out;
      text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(84, 20, 204), 0 0 30px #6902366c, 0 0 40px #ca0568, 0 0 50px #c00663, 0 0 60px #e40976, 0 0 70px #630d38;

      /* padding-left: 12px; */
  }

@keyframes enter {
    0% {
      opacity: 0;
      transform: translateX(-250px);
    }
    50% {
      color: rgb(255, 255, 255);
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    70% {
      color: rgb(255, 255, 255);
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
    85% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(84, 20, 204), 0 0 30px #6902366c, 0 0 40px #ca0568, 0 0 50px #c00663, 0 0 60px #e40976, 0 0 70px #630d38;
    }
  }

  #wand {
    height: 50px;
    margin-left: 15px;
    animation: wave 1.75s ease-in-out alternate infinite;
  }

  @keyframes wave {
    0% {transform: rotate(-9deg)}
    100% {transform: rotate(9deg) translateY(12px)}
  }



.SearchForm {
      background-color: black;
      border-bottom: 1px solid #2f3336;
      /* padding-bottom: 7px; */
      /* padding-left: 7px; */
      padding: 9px 7px 18px 18px;

      
  }

.SearchForm p {
  font-size: 1.2em;
  margin: 0 0 7px 0;
  padding-left: 3px;
}

#searchBar {
      height: 40px;
      width: 69%;
      /* border: 3px rgb(0, 0, 184); */
      border-style:double;
      border-radius: 8px;
  }

button {
      color: #fff;
      display: inline-block;
      width: 100px;
      height: 40px;
      background-color: #881888;
      border-radius: 8px;
      border: none;
      margin-left: 8px;
      padding: 7px 15px;
      font-size: 1em;
      transition: 500ms;
      transform: translateY(1.5px);
  }

button:hover {
      background-color: #d4b62f;
      color: white;
      transition: 150ms;

  }

.Result {
      background-color: #16191d;
      border-bottom: 1px solid #2f3336;
      border-top: 1px solid #2f3336;
      display: flex;
      flex-direction: column;
      padding: 1.3em;
      margin-bottom: 1.3em;
      min-height: 100px;
      width: 100%;
  }

.Result p {
    font-size: 1.15em;
    padding: 0 7px 12px 0;
    color: white;
  }

.Result img {
  padding: 15px 0;
}

#ResultsHeader {
  font-size: 2em;
  padding: 10px 0 10px 20px;

  }

#LinkToGiphy{
      display: block;
      align-self: flex-end;
      padding: 2px 5px;
      font-size: 1.2em;
      font-style: italic;
  }

#LinkToGiphy:hover,
#LinktToGiphy:focus {
      color:white;
}

@media screen and (min-width: 480px) {
#App-Title {
  font-size: 2.5em;
}

}

  @media screen and (min-width: 550px) {
  #App-Title {
      font-size: 3em;
  }
  #wand {
      height: 65px;
  }

button {
  width: 120px;
}

.ResultsList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      /* height: 50%; */
      /* padding-left: 5px; */
      width: 100%;
  }

.Result {
    width: 40%;
    margin: 1.5em;
    border: none;
  }

  .Result img {
    height: 100%;
    object-fit:scale-down;
  }

  #LinkToGiphy {
    font-size: 1em;
    /* font-weight: 500; */
  }

  }

  @media screen and (min-width: 990px) {
    .Result {
      width: 20%;
      margin: 1.5em;
    }

    button {
      width: 140px;
    }

    #searchBar {
      width: 80%;

  }

  }