body {
    background-color: black;
    color: #d9d9d9;
  }

.header {
      display: flex;
      justify-content: space-between;
      padding: 0px 7px;
  }

#GifHunterTitle {
      animation: titleSpin 0.5s calc(1) linear;
  }

@keyframes titleSpin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* @keyframes titleSpin {
    0% {transform: translate(0)}; 
    50% {transform: translate(10%)};
    100% {transform: translate(10%)};
  } */

a {
      color:#28b39d;
      text-decoration: none;
      font-weight: 500;
  }

.SearchForm {
      background-color: black;
      border-bottom: 1px solid #2f3336;
      padding-bottom: 7px;
      padding-left: 7px;
      
  }

#searchBar {
      height: 23px;
      width: 82%;
      border: 3px rgb(0, 0, 184);
      border-style:double;
      border-radius: 2px;
      
  }

button {
      color: #fff;
      background-color: #145a4f;
      border-radius: 2px;
      border: none;
      padding: 7px 10px;
  }

button:hover {
      background-color: #1a7567;
  }

  .submitForm {
    margin-left: 20px;
}

.Result {
      background-color: #16191d;
      border-bottom: 1px solid #2f3336;
      border-top: 1px solid #2f3336;
  }
#ResultsHeader {
  padding-left: 7px;
  }

#gifThumbnail {
      width: fit-content;
  }

#LinkToGiphy{
      float: right;
      position: relative;
      right: 2px;

  }

  /* .searchBarContainer {
      display: flex;
      justify-content: space-between;
  } */